.card{
    display: flex;
    flex-direction: column;
    max-width: 220px;
    width: 100%;
    height: 100%;
    .card-image{
        border-radius: 0.5em;
        label{
            position: relative;
            top: 5px;
            left: 5px;
            background-color: #fff048;
            border: 1px solid rgba(0, 0, 0, 0.313);
            border-radius: 3px;
            font-size: 0.8em;
            padding: 2px;
            font-weight: 600;
        }
    }
    h3{
        height: 30px;
        font-size: 1em;
        font-weight: 600;
        color: #333333;
        margin-top: 5px;
    }

    .card-content{
        margin-top: auto;
        height: 120px;
        ul{
            flex-direction: column;
            padding-left: 14px;
        li{
            display: list-item;
            font-size: 13px;
            color: #444444;
            letter-spacing: 1px;
            line-height: 1.5;

        }
        li::before{
        }
    }
    }

    button{
        margin-top: auto;
        text-align: justify;
        font-size: 0.9em;
        font-weight: 550;
        color: rgb(0, 162, 255);
    }
}