.doctor{
    margin-top: 4.6em;

    .descripton-info{
        ul{
            display: block;
            list-style: circle;
        }
    }
}

.custom-html-style ol, .custom-html-style ul {
    display: block;
    list-style: armenian;
}