button {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    outline: none !important;
}

.error{
    width:100%;
    height:500px;
    display: flex;
    align-items: center;
    justify-items: center;
    .title{
        margin: 0 auto;
        margin-bottom: 100px;
        position: relative;
        h2{
            color: rgba(128, 128, 128, 0.389);
            font-size: 1.8em;
        }
    }
}

.btn-active{
    background-color: #fff8ae !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.slick-dots {
    display: none;
}

.container {
    padding: 2em 0;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.card-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

h3 {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.slick-slider {
    .slick-prev {
        left: -50px;
    }

    .slick-next {
        right: -18px;
    }

    .slick-prev:before,
    .slick-next:before {
        color: gray;
        font-size: 40px;
    }
}

.react-datepicker__day--selected {
    border-radius: 1.3rem !important;
    background-color: #ff8307 !important;
    color: #fff;
}

.react-datepicker__day--today {
    color: #ff8307 !important;
    border-radius: 1.3rem !important;
    border: 1px solid #ff8307 !important ;

}