.specialty-admin{
    padding: 20px;
    .btnAdd{
        display: flex;
        outline: none;
        gap: 5px;
        border-radius: 20px;
        background-color: rgb(0, 255, 110);
        padding: 10px;
        color: white;
        transition: all 0.1s ease-in;
        justify-items: center;
        align-items: center;
        h2{
            font-size: 1.2em;
            margin: 0;
        }
    }
    .btnAdd:hover{
        color: rgb(0, 255, 110);
        background-color: white;
        border: 1px solid rgb(0, 255, 110);
    }

    .header{
        h2{
            text-align: center;
        }
    }
}
.delete-action{
    position: relative;
    top:-3px;
}   